.git
.gitignore
.DS_Store
__pycache__/
*.pyc

backend/.venv/
venv/
.venv/

docs/
references/

data/vectorstore/
data/chroma/
data/faiss/

node_modules/
dist/
build/

backend/.env
backend/.DS_Store
data/.DS_Store
